*{
    margin: 0;
    border: 0;
    padding: 0;
}

a{
    color: rgb(175, 130, 96);
}

body{
    background-color: rgb(39, 39, 39);
    font-family: "Roboto Condensed", sans-serif;
}

header{
    background-color: rgb(50, 44, 43);
    color: white;
    text-align: center;
    box-sizing: border-box;
    font-size: large;
    margin: 0px;
    border: 10px;
    padding: 10px;
    font-size: 100px;
}

#titulo{
    background-color: black;
    color: white;
    text-align: center;
    box-sizing: border-box;
    font-size: large;
    border: 5px;
    padding: 5px;
    font-size: 25px;
    float: bottom;
    overflow: hidden;
}

#texto{
    color: white;
    text-align: left;
    box-sizing: border-box;
    font-size: large;
    margin: 0px;
    border: 0px;
    padding: 10px;
    font-size: 20px;
}


#links{
    float: left;
    text-align: center;
    width: calc(25% - 10px);
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* border-top: 15px; */
    padding-top: 15px;
    /* border-bottom: 15px; */
    padding-bottom: 15px;
    font-size: large;
    outline-color: black;
    outline-width: 10px;
    outline-style: solid;
    border: 20px;
}

#espaco{
    margin: 10;
}

#imagem{
    float: left;
    margin: 0;
    border: 0;
    padding: 0;
}

#produtos{
    float: left;
    background-color: rgb(189, 189, 189);
    color: black;
    width: calc(50% - 10px);
    margin: 10;
    border: 10;
    padding: 100;
    text-align: center;
}

#produto img{
    width: 50%;
    
}

#esquerda{
    float: left;
    box-sizing: border-box;
    width: 50%;
}

#esquerda img{
    width: 100%;
}

#direita{
    float: right;
}

#partrocinio{
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(50, 44, 43);
}

#partrociniod{
    width: 100%;
    box-sizing: 100%;
    background-color: rgb(50, 44, 43);
    float: bottom;
}

input[type="submit"]:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

footer {
    width: 100%;
    background-color: rgb(50, 44, 43);
}